@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body, h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    margin: 0;
}


.popup-overlay {
  background-color: #C1C7D0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100%;
  backdrop-filter: blur(4px);
  display: none;
}


.popup-wrapper {
  background-color: #fff;
  z-index: 100;
  margin: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 1rem;
}

.image-wrapper {
  
  height: 100%;
  position: relative;
}
.popup-img {
  width: 100%;
}

.closeBtn-mobile {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  left: auto;
  bottom: auto;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 12px 0;
}

.popupDesc {
  color: #344563;
  font-size: 1rem;
  line-height: 1.5rem;
}

.links-mobile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center;
  font-size: 17px;
}

a.popup-button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.25rem;
  text-decoration: none;
  color: #fff;
  background-color: #36B37F;
  padding: 12px 1rem;
  margin: 0 1rem 0 0;
  border-radius: 0.25rem;
  width: 45%;
}

#seeSource {
  width: 50%;
  margin: 0;
}
ul.popupTags-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
}

li.popupTags {
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 0.25rem;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 12px;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.links-desktop { 
  display: none;
}

.closeBtn-wrapper {
  display: none;
}

@media (min-width: 768px) {

  .popup-wrapper {
    width: 920px;
    margin: 5rem auto;
    border-radius: .5rem;
  }
  .image-wrapper {
    width: 100%;
    max-height: 616px;
    overflow-y: hidden;
    object-fit: fit;
    border-radius: 0.5rem;
  }

  .links-desktop {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
    font-size: 17px;
    width: 50%;
  }

  .links-mobile {
    display: none;
  }

  .title-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  a.popup-button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0.25rem;
    text-decoration: none;
    color: #fff;
    background-color: #36B37F;
    padding: 12px 1rem;
    margin: 0 1rem 0 0;
    border-radius: 0.25rem;
    flex: 1 1 auto; 
  
  }

  .closeBtn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0.5rem 0;
  }

  .closeBtn-mobile {
    display: none;
  }

  .close-thing {
    font-size: 40px;
    text-decoration: none;
  }
}